<div class="container-sm mt-5">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-2">
      <input class="form-control" placeholder="Nombre" id="name" formControlName="name" >
      <label for="name" >Nombre</label>
    </div>
    <div class="form-floating mb-2">
      <input class="form-control" placeholder="Descripción" id="description" formControlName="description" >
      <label for="description">Descripción</label>
    </div>
    <div class="form-floating mb-2">
      <input class="form-control" placeholder="Precio" id="price" formControlName="price" >
      <label for="price">Precio</label>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>
